// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  /* Colores principales */
  --ion-color-primary: #4f46e5;
  --ion-color-primary-shade: #4338ca;
  --ion-color-primary-tint: #6366f1;

  --ion-color-secondary: #06b6d4;
  --ion-color-tertiary: #10b981;

  /* Fondo moderno */
  --ion-background-color: #f5f7fb;

  /* Texto */
  --ion-text-color: #1e293b;

  /* Bordes suaves */
  --border-radius: 16px;
}